/* general setup  */
body{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
    overflow-x: hidden;
}
*{
    box-sizing: border-box;
}
h1{
    font-weight: bold;
    font-size: 60px;
    line-height: 90px;
}
h2{
    font-weight: bold;
    font-size: 55px; /* CHANGE Font size lower than figma  to match appearence*/
    line-height: 40px;
    text-align: center;
}
.h2-border{
    width: 43px;
    height: 6px;
    border-top: 6px solid #1034A6;
}
h3{
    font-weight: bold;
    font-size: 30px;
    line-height: 40px;
    color: #000000;
}
h4{
    font-weight: bold;
    font-size: 30px;
    line-height: 41px;
    color: #1034A6;
}
h5{
    font-weight: 800;
    font-size: 15px;
    line-height: 37px;
    letter-spacing: 0.1em;
    color: #FFBE0B;
}
hr{
    border-top: 3px solid #FFBE0B;
    width: 31px;
    margin: auto 6px;
}
#notify-btn{
    height: 81px;
    background: #1034A6;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    line-height: 154%;
    
}
#email{
    height: 81px;
    /* max-width: 550px; */
    border: 2px solid #C4C4C4;
    border-radius: 5px;
    padding: 16px 34px;

}
/* end genral setup */
/* **************** */
/* Header start */
.header-wrapper{
    padding-left: 8rem;
    overflow-x: hidden;
}
#text-cs{
    position: relative;
    top: 500px;
}
.header-left{
    padding-top: 3.5rem;
    z-index: 100;
    background-color: white;
}
.logo-container{
    margin-bottom: 14.25rem;
}
.header-text{
    font-weight: normal;
    font-size: 20px;
    line-height: 37px;
    color: #333333;
    width: 60%;
}
.header-form{
    margin-top: 7.8rem;
    margin-bottom: 5.5rem;
}
.form-title{
    font-weight: bold;
    font-size: 15px;
    line-height: 45px;
    color: #333333
}
/* header rigth (circles) */
.header-right{
    position: relative;
        background:
            linear-gradient(90deg,black (22px- 1px), transparent 1%) center ,
            linear-gradient( hsl (256,33,10)  (22px- 1px), transparent 1%) center,
            hsl(256,33,70);
        background-size: 22px 22px;
    
}
.top-semi-circle1{
    position: absolute;
    right: 25%;
    top: 20%;
}
.top-semi-circle2{
    position: absolute;
    top: 55%;
    left: 2.5%;

}
.top-semi-circle3{
    position: absolute;
    top: 55.5%;
    right: 16%;

}
.circle{
    width: 100%;
    padding-top: 100%;
    border-radius: 50%;
    z-index: 10;
   

}
.circle1{
    position: absolute;
    background-color: #FFBE0B;
    top: -15%;
    left: 50%;
    transform: translateX(-50%);
    animation : bounce-x 2.05s linear 0s infinite alternate, 
    bounce-y 2.4s linear 0s infinite alternate;
}
.circle2{
    position: absolute;
    background-color: #1034A6;
    top:  8%;
    left:-55% ;
    animation : bounce-x3 3s linear 0s infinite alternate, 
    bounce-y3 1.5s linear 0s infinite alternate;
    
}
.circle3{
    position: absolute;
    background-color:#FCA311;
    top: 8%;
    right: -55%;
    animation : bounce-x2 5s linear 0s infinite alternate, 
    bounce-y2 5s linear 0s infinite alternate;
}
.circle4{
    position: absolute;
    background-color: #1034A6;
    top: 33%;
    left: 50%;
    transform: translateX(-50%);
    animation : bounce-x 2.5s linear 0s infinite alternate, 
    bounce-y 3.5s linear 0s infinite alternate;

}
.circle5{
    position: absolute;
    background-color:#FFBE0B;
    top: 60%;
    left: -55%;
    animation : bounce-x4 3s linear 0s infinite alternate, 
    bounce-y4 2.5s linear 0s infinite alternate;
    
}
.circle6{
    position: absolute;
    background-color:#1034A6;
    top: 60%;
    right: -55%;
    animation : bounce-x5 3s linear 0s infinite alternate, 
    bounce-y5 2.5s linear 0s infinite alternate;
}
.dots{
    height: 19.36%;
    width: 100%;
}
.red-dots{
    position: absolute;
    top: 0;
    background: url('/img/Red\ dots.png')  no-repeat;
    }
.green-dots{
    position: absolute;
    top: 20%;
    background: url('/img/Green\ dots.png')  no-repeat;
    
}
.yellow-dots{
    position: absolute;
    top: 40%;
    background: url('/img/Yellow\ dots.png') no-repeat ;
    
}
.blue-dots{
    position: absolute;
    top: 60%;
    background: url('/img/Blue\ dots.png') no-repeat ;
    
}
.yellow2-dots{
    position: absolute;
    top: 80%;
    background: url('/img/Yellow\ dots-1.png') no-repeat;
    
}

/* header Finish */

/* *************** */
/* main start */
main{
    background: #FDFDFD
}
/* *********HOW IT WORKS SECTION********* */
.work{
    position: relative;
}
.work-semi-circle1{
    position: absolute;
    top: 35%;
    left: 5%;
}
.work-semi-circle2{
    position: absolute;
    top: 38%;
    right: 27%;
}
.work-semi-circle3{
    position: absolute;
    bottom: 40%;
    right: -5%;
}
.work-semi-circle4{
    position: absolute;
    bottom: 8%;
    left: -1%;
}
.work-semi-circle5{
    position: absolute;
    bottom: 7%;
    left: 41%;
}
.work-semi-circle6{
    position: absolute;
    bottom: 8%;
    right: 1%;
}
.work-cards{
    padding-bottom: 5rem;
    justify-content: space-around;
}
.work-title{
    padding-top: 12rem;
    margin-bottom:12rem ;
}
.card{
    position: relative;
    background-color: #ffffff;
    border: none;
    box-shadow: 0px 4px 35px rgba(6, 33, 55, 0.04);
    border-radius: 5px;
    max-width: 350px;
    
}
.card-logo{
    width: 100px;
    height: 100px;
    background: #FFBE0B;
    border-radius: 50%;
    margin: 4rem auto;
}
.card-text{
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #000000;
}
.card-progress{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 5px;
    height: 10px;
}
/* *********Extra Features SECTION********* */
.extra{
    position: relative;
    margin-top: 15.5rem;
    padding-bottom: 5rem;
}
.extra-semi-circle1{
    position: absolute;
    top: 20%;
    left: 22%;
}
.extra-semi-circle2{
    position: absolute;
    top: 24%;
    right: 28%;
    z-index: 1000;
}
.extra-semi-circle3{
    position: absolute;
    bottom: 40%;
    left: 21%;
    z-index: 1000;
}
.extra-semi-circle4{
    position: absolute;
    bottom: 35%;
    right: 24%;
    z-index: 1000;
}
.extra-semi-circle5{
    position: absolute;
    bottom: 0%;
    left: 24%;
    z-index: 1000;
}
.extra-semi-circle6{
    position: absolute;
    bottom: 0;
    right: 20%;
    z-index: 1000;
}
.circle-top{
    position: absolute;
    top: 2.2%;
    right: 12.2%;
    z-index: 100;


}
.circle-bot{
    position: absolute;
    top: 49%;
    left: 8.1%;
    z-index: 100;
}

.extra-color{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 50%;
    background-color: #ffffff;
    width: 100%;
    z-index: 10;
}
.extra-title{
    margin-bottom: 12.5rem;

}
.extra-card{
    position: relative;
    background-color: #ffffff;
    z-index: 100;
    padding-bottom: 3rem;
    box-shadow: 0px 4px 35px rgba(6, 33, 55, 0.04);
    border-radius: 5px
 }
.extra-card-logo{
    width: 100px;
    height: 100px;
    background: #1034A6;
    border-radius: 50%;
    margin-top: 6rem;
    margin-bottom: 4rem;
}
.extra-card-text{
    font-size: 20px;
    line-height: 30px;
    width: 78%;
}
.extra-card-bar{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    box-shadow: 0px 4px 35px rgba(6, 33, 55, 0.04);
    border-radius: 5px;
    width: 10px;
}
.words{
    padding-top: 12rem;
    background-color: white;

}
.words-fill-blue{
    color: #1034A6;
}
.words-fill-yellow{
    color: #FFBE0B;
}
.words-border-blue{
    text-shadow: -1px 0  #1034A6, 0 1px  #1034A6, 1px 0  #1034A6, 0 -1px  #1034A6;
    color: white;
}
.words-border-yellow{
    text-shadow: -1px 0  #FFBE0B, 0 1px  #FFBE0B, 1px 0  #FFBE0B, 0 -1px  #FFBE0B;
    color: white;

}
.words-spacing{
    margin: 6rem auto;
}
/* *Preshot section */
.preshot{
    margin: 8rem auto ;
    /* background: url('/img/preshot-bg-side.svg') left no-repeat; */
}
.preshot>div{
    background-color: white;
}
.preshot-title{
    margin-bottom: 7rem;
    margin-left: 14rem;
}
.preshot-text{
    font-size: 30px;
    line-height: 45px;
    margin: 0 auto;
    font-style: normal;
    font-weight: normal;
    color: #828282;
}
/* main Finish */

/* *************** */

/* Footer start */
footer{
    background-color: #1034A6;
}
.footer-title{
    padding-top: 7.5rem;
}
.footer-text{
    font-size: 25px;
    line-height: 37px;
    color: #333333;
    margin-top: 1.5rem;
    margin-bottom: 2.5rem;
    text-align: center;
}
footer #email::placeholder{
    color: #FFFFFF;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 154%;
}
.copyright{
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    color: #1034A6;
    padding: 2rem .5rem;
}
/* Footer Finish */


/* **************************** */
/* queries */
@media only screen and (max-width:800px){
    
    .header-wrapper{
        margin-top: 3.5rem;
        padding-left: 0;
    }
    .top-semi-circle2 {
        top: 65%;
        z-index: 1000;
    }
    .header-text {
        width: 80%;
        /* margin: 0 auto; */
    }
    .preshot-text{
        
        padding: .5rem 1rem;
        margin: 0 auto;
    }
}
@media only screen and (max-width:630px){
    .extra-semi-circle3 {
        bottom: 65%;
    }
}
@media only screen and (max-width:550px){
    .circle-bot {
        top: 68%;
    }
    .preshot-text{
        font-size: 18PX;
        line-height: 30PX;
    }
}
@media only screen and (max-width:469px){
    h1{
        font-size: 40px;
        line-height: 60px;
    }
    h2{
        font-size: 45px;
    }
    .circle-top{
        top: 12%;
        right: 12.2%;
    
    
    }
    .circle-bot{
        top:68%;
        left: 8.1%;
    }
    .work-semi-circle3 {
        right:0
    }
  
    .preshot-title{
       
        margin-left: 0;
    }
    .extra-semi-circle4 {
      display: none;
    }
    
}
@media only screen and (max-width:300px){
    .words-fashionabl{
        font-size: 32px;
    }
    .top-semi-circle2 {
        top: 70%;
    }
    .circle-top {
        top: 15%;
    }
    .circle-bot {
        top: 80%;
    }
}
/* ***************Animations */

/* circle 1 */
@keyframes bounce-x{
     0%
{    left: 0
}  100%
{    left: 50%
}}
@keyframes bounce-y
{  0%
{    top: 0
}  100%
{    top: 71%
}}
/* circle 2 */
@keyframes bounce-x2{
    0%
{    right: 0;
     opacity:.3
}
    50%
{    right: 30%;
     opacity: .5;
}
    100%
{    right: 50%;
    opacity: 1;
}}
@keyframes bounce-y2
{  0%
{    top: 0   
} 
50%{
    top:20 ;
} 
100%
{    top: 30%
}}
/* bounce 3 */
@keyframes bounce-x3{
    0%
{    left: 0
}  100%
{    left: 60%
}}
@keyframes bounce-y3
{  0%
{    top: 0
}  100%
{    top: 20%
}}
/* bounce4 */
@keyframes bounce-x4{
    0%
{    left: 0;
    opacity: 1 ;
}  100%
{    left: 60%;
     opacity: .5 ;

}}
@keyframes bounce-y4
{  0%
{    top: 50%;
     opacity: .8 ;

}  100%
{    top: 70%;
    opacity: 1;


}}
/* bounce4 */
@keyframes bounce-x5{
    0%
{    left: 10;
    opacity: 1 ;
}  100%
{    left: 60%;
     opacity: .5 ;

}}
@keyframes bounce-y5
{  0%
{    top: 10%;
     opacity: .8 ;

}  100%
{    top: 40%;
    opacity: 1;


}}
/* Extra section circles animation */
 
